streamlit
torch
torchvision
numpy
opencv-python-headless
pillow>=10.0
streamlit-image-zoom
reportlab
requests
openai
grad-cam
timm
torchxrayvision
pydicom
nibabel
scikit-learn
scikit-image
pandas
matplotlib